<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class = "container">
            <div class = "row">
                <div class = "col-lg-12">
                    
                    <h1 align = "center"><%= @article.title %></h1>
                    <div class = "well">
                        <p><%= @article.body %></p>
                    </div>
                    
                    <p>
                        <div class = "text-center">
                            <button type = "button" class = "btn btn-default">
                             <%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
                            </button>
                        </div>
                      <!--notice in the above we use method: delete as links in HTML are alwasy GET requests but we want to delete something--> 
                    </p>
                    <%= link_to "<< Back to Article list", articles_path %>
                </div>
            </div>
        </div>
        
    </body>
</html>

